<div class="layout">
  <magary-sidebar
    [sections]="sidebarSections"
    [showUserSection]="true"
    [userName]="'Juan Pérez'"
    [userEmail]="'juan@empresa.com'"
    [appTitle]="'Magary'"
    [logoSrc]="'assets/Magary.png'"
    (onLogout)="handleLogout()"
    [avatarConfig]="{ type: 'label', shape: 'circle' }"
  />
  <main class="main">
    <header class="header">
      <h1>Magary Demo</h1>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
