<div class="layout">
  <magary-sidebar
    [sections]="sidebarSections"
    [showUserSection]="true"
    [userName]="'Juan Pérez'"
    [userEmail]="'juan@empresa.com'"
    [appTitle]="'Magary'"
    [logoSrc]="'/assets/magary_logo.webp'"
    [showLogo]="true"
    [showBrandLogo]="true"
    [showUserAvatar]="false"
    [showUserName]="false"
    [showUserEmail]="false"
    [showLogoutButton]="false"
    [brandLogoSrc]="'/assets/magary_logo.webp'"
    [brandLogoPosition]="'center'"
    [logoWidth]="414"
    [logoHeight]="603"
    [brandLogoWidth]="414"
    [brandLogoHeight]="603"
    [appTitleStyle]="{
      background: 'var(--gradient-text)',
      '-webkit-background-clip': 'text',
      'background-clip': 'text',
      color: 'transparent',
      fontSize: '1.7rem',
    }"
    (onLogout)="handleLogout()"
    [avatarConfig]="{ type: 'label', shape: 'circle' }"
  ></magary-sidebar>

  <main class="main-container">
    <header class="top-bar">
      <div class="app-branding" routerLink="/" style="cursor: pointer">
        Magary <span class="highlight">Demo Alpha v{{ version }}</span>
      </div>

      <div class="top-actions">
        @if (pwaService.installable()) {
          <magary-button
            icon="download"
            label="Instalar App"
            severity="info"
            variant="outlined"
            [rounded]="true"
            [iconSize]="17"
            (buttonClick)="pwaService.install()"
            styleClass="pwa-install-btn"
          ></magary-button>
        }
        <app-theme-switcher></app-theme-switcher>
      </div>
    </header>

    <section class="content-wrapper" #contentWrapper>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
  <magary-toast [offsetY]="'5rem'" />
</div>
